 /* Navbar.css */
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eeeaea; /* Cor do fundo desejado */
    color: rgb(255, 255, 255); /* Cor do texto desejado */
    /* border-bottom: 1px solid #000000; */ /* Linha horizontal como borda inferior */
  }
  
  .logo img {
    height: 100px; /* Altura para o logo */
    margin-left: 50px;
  }
  
  .menu-section {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    justify-content: center; /* Adiciona centralização horizontal */
    flex: 1; /* Permite que a secção do menu ocupe o espaço disponível */
  }
  
  .menu-section .login-icon {
    height: 50px; /* Altura desejada para o ícone de login */
  }
  
  .menu-section a {
    margin-right: 150px; /* Ajusta o espaçamento entre os itens do menu */
    color: rgb(0, 0, 0); /* Cor do texto desejado */
    text-decoration: none;
    font-size: 20px; /* Tamanho da fonte desejado */    
  }
  
  .menu-item {
    margin-right: 150px; /* Ajusta o espaçamento entre os itens do menu */
  } 

  #dropdownMenuButton1 {
    background-color: #eeeaea; /* Cor de fundo desejado */
    color: rgb(0, 0, 0); /* Cor do texto desejado */
    border: none; /* Remover a borda do botão */
    font-size: 20px; /* Herda o tamanho de fonte do elemento pai */
    font-family:Arial, Helvetica, sans-serif; /* Herda a fonte do elemento pai */
  }

  .dropdown-menu {
    border: none !important; /* Remove a borda do menu dropdown */
    box-shadow: none !important; /* Remove a sombra do menu dropdown */
  }

  .dropdown-item:active {
    background-color: transparent !important; /* Remove o fundo do item do menu dropdown quando ele é clicado */
    color: rgb(0, 0, 0) !important; /* Define a cor do texto quando o item é clicado */
  }

  .menu-section a:last-child {
    margin-right: 0; /* Remove a margem à direita do último item do menu */
  }
  
  .menu-section a:hover,
  .menu-section a.selected { /* Adiciona um estilo para o item selecionado */
      text-decoration: underline; /* Adiciona sublinhado ao passar o mouse sobre ou quando selecionado */
  }
  
  .menu-section a.selected {
      background-color: #eeeaea; /* Cor de fundo para indicar seleção */
      color: #4ea495; /* Cor do texto quando o item está selecionado */
  }

  @media (max-width: 1000px) {
    .logo img {
      height: 80px; /* Reduzi a altura do logo para dispositivos móveis */
      margin-left: 10px; /* Reduzi a margem para dispositivos móveis */
    }
    
    .menu-section a {
      margin-right: 10px; /* Reduzi o espaçamento entre os itens do menu para dispositivos móveis */
      font-size: 14px; /* Reduzi o tamanho da fonte para dispositivos móveis */
    }
    
    .menu-item {
      margin-right: 10px; /* Reduzi o espaçamento entre os itens do menu para dispositivos móveis */
    }
  }