.password-reset {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(238, 234, 234);
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
  }
  
  .password-reset h1 {
    margin-bottom: 20px;
  }
  
  .password-reset form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .password-reset label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
  }
  
  .password-reset input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
  }
  
  .password-reset button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .password-reset button:hover {
    background-color: #218838;
  }
  
  .password-reset p {
    margin-top: 20px;
  }

  .message-success {
    color: green;
}

.message-error {
    color: red;
}
  