ul {
    list-style: none;
    background: #eeeaea;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-align: left;
}
ul li:hover ul.dropdown {
    display: block; /* Show dropdown on hover */
}
ul li ul.dropdown {
    width: 135px;
    background: #eeeaea;
    position: absolute;
    z-index: 500;
    display: none; /* Hide dropdown by default */
}
ul li ul.dropdown li {
    display: block;
}
